*,
::before,
::after{
    box-sizing: border-box;
    font-family: Quicksand;
}

.container-search{
    display: flex;
    width: 50%;
    background-color: #f1eaf1;
    border-radius: 1rem;
    padding: .5rem;
}

.container-search input{
    width: 100%;
    background-color: #f1eaf1;
    border: none;
    border-bottom: 2px solid #f1eaf1;
    outline: none;
    font-size: 1rem;
}

button{
    width: 30%;
    padding: .5rem;
    background-color: #95abd8;
    border: 1px solid #95abd8;
    border-radius: .8rem;
    margin-left: 1rem;
    color: #fff;
    font-size: 1rem;
}

button:hover{
cursor: pointer;
}

input:focus{
    border-bottom-color: #f7f8fa;
}

.container-card{
    border: 1px solid black;
    width: 70%;
    height: auto;
    border-radius: 1rem;
}

.container-iconoPais{
    display: flex;
    align-items: center;
}